<h1>Questions#answer</h1>
<h3>Stupid Coach</h3>

<div class="quest">
  <p class="question">Question : <%= @question %></p>
  <p>- You</p>
</div>

<div class="ans">
  <p class="answer"> Answer : <%= @answer %></p>
</div>


<button class="btn-return"><%= link_to 'Return another question', ask_path %></button>



