<h1>Questions#ask</h1>
<h3>Stupid Coach</h3>

<form action="/answer" class="form">
  <input type="text" name="question" class="userInput" placeholder="Ask anything...">
  <input type="submit" value="Ask!" class="btn-flat">
</form>
