/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-color: #F2F2F2;
 }

 h3 {
  font-size: 39px;
  font-family: sans-serif;
  position: absolute;
  top: 200px;
  left: 400px;
  color: #1EDD88;
 }


.question {
  font-size: 45px;
  font-style: italic;
  margin-left: 60px;
}

.answer {
  font-size: 35px;
  font-family: sans-serif;
  color: #C52F24;
  margin-left: 200px;
  margin-top: 60px;

}


.ans {
  background-color: white;
  border-radius: 5px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.userInput {
  height: 1.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  width: 300px;
  border: 2px solid  #1EDD88;
}

.form {
    display: block;
    position: absolute;
    top: 200px;
    left: 400px;
  }
.btn-return {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-return a{
  text-decoration: none;
  color: #000000;
}

.btn-return a:hover {
  color: white;
}
